{% extends 'header_footer.html.twig'%}
{% block content %}
    <h3>Change Your Account Password</h3>

    <form action="{{ action_change }}" method="{{ method }}">
        <p>Old Password: <input type="text" name="old_password"><br></p>
        <p>New Password: <input type="text" name="new_password"><br></p>
        <p>New Password Confirm: <input type="text" name="new_password_confirm"><br></p>
        <input type="submit" title="Confirm">
    </form>
{% endblock %}