{% extends 'header_footer.html.twig'%}
{% block content %}
    <main>
        <p>Your username is: {{ username }}</p>

        <p>Your email is: {{ email }} </p>

        <p>Your hashed password is: {{ hashed_password }} </p>
    </main>
{% endblock %}