{% extends 'header_footer.html.twig'%}
{% block content %}
    <h3>Enter your email to be sent an email to reset your password</h3>

    <form action="{{ action_forgot }}" method="{{ method }}">
        <p>Email Address: <input type="text" name="old_password"><br></p>
        <input type="submit" title="Send Password Reset Email">
    </form>
{% endblock %}