{% extends 'header_footer.html.twig'%}
{% block content %}
<main>
    <h3>Welcome to CRAFT412<br/>We are currently running version 1.11.2<br/>Survival / PurePVP / GamesWorld</h3>
    <h4>SERVER TRAILER</h4>
    <iframe src="https://www.youtube.com/embed/dfbWw757Iow" allowfullscreen></iframe>
</main>
{% endblock %}